@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@400;500&family=Karla&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./background.png');
  background-size: 250px;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #161920;
  color: #ffffff;
}
